body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 25, 25);
    color: white;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.move-icon {
    height: 50px;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result {
    font-size: 1.5625rem;
    font-weight: bold;
    margin: 1.5em 0;
}

.score {
    margin-top: 3.5em;
}

.reset-score-button {
    background-color: white;
    border: none;
    font-size: 0.95rem;
    padding: 0.55em 1.1em;
    cursor: pointer;
}
