body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.send-button {
    background-color: rgb(25, 135, 84);
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.chat-input {
    padding: 12px 15px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    flex-grow: 1;
}

.app-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-input-container {
    display: flex;
    margin-bottom: 50px;

}

.chat-message-user {
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.chat-message-robot {
    display: flex;
    align-items: center;
}

.chat-message-text {
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 10px;
    max-width: 300px;
}

.chat-message-profile {
    width: 45px;
}

.chat-messages-container {
    flex-grow: 1;
    overflow: scroll;
    scrollbar-width: none;
}